
/* WHATS IN THE BOX STYLE  */

.whats-in-the-box-wrapper
{
    background-color: #fff;
    padding: 50px 15px;
}
.whats-in-the-box-text{
    padding: 40px 0;
}
.whats-in-the-box-text h1{
    font-size: 50px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    padding: 20px;
    color: #0F0F10;
}
.whats-in-the-box-list ul {
    color: #000;
    font-size: 20px;
    font-weight: 400;
}
.whats-in-the-box-image-left{
    padding: 20px;
    border-radius: 20px;
    background-color: #F5F5F7;
    text-align: center;
    min-height: 516px;
    display: flex;
    gap: 10px;
    justify-content: center;
}
.whats-in-the-box-image-right{
    padding: 20px;
    border-radius: 20px;
    background-color: #F5F5F7;
    text-align: center;
}
.whats-in-the-box-image-left > img
{   display: inline-block;
    margin: 0 auto;
    width: 100%;
}
.whats-in-the-box-image-right > img
{
    display: inline-block;
    margin: -70px 0px auto;
}
.single-accessories > img
{
    display: inline-block;
    margin: 0 auto;
    max-width: 110px;
}
.single-accessories > img:first-child{
    margin-top: -10px;
}
.single-accessories {
    padding: 20px;
    border-radius: 20px;
    background-color: #F5F5F7;
    text-align: center;
    max-height: 170px;
    min-height: 170px;
}
.single-accessories > p {
    margin-bottom: 5px;
    line-height: 1;
}
.whats-in-the-box-image-right{
    margin-top: 15px;
}
.whats-in-the-box-image-right > p{}

h1.apps-screenshot-title {}

.apps-screenshot-area{
    background-color: #F5F5F7;
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
}
.single-apps-screen {
    text-align: center;
    padding-bottom: 20px;
}
.single-apps-screen img{
    display: inline-block;
    margin: 0 auto;
}

@media all and (max-width: 1024px) {
    .whats-in-the-box-image-left {
        margin-bottom: 20px;
        min-height: 320px;
    }
}
@media all and (max-width: 767px) {
    .whats-in-the-box-image-left {
        min-height: 290px;
    }
    .single-accessories {
        padding: 3px;
      }
}

/* BUSINESS APPLICATION AREA */

/* Navigation Styles */

.single-product #content-pro {
    background: #fff !important;
  }
.tobor-nav-wrapper {
    padding: 12px 13px;
    width: 100%;
}

.tobor-nav {
    
}

.tobor-nav-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tobor-nav-item {
    color: #000;
    text-decoration: none;
    font-size: 20px;
    transition: background-color 0.3s ease;
    font-weight: 700;
    font-family: Helvetica;
    line-height: 24.5px;
}
a.tobor-nav-item:hover {
    color: #506CCD;
}
.tobor-nav-list-mobile{
    display: none;
}


/* Section Styles */
.tobor-sections {
    padding-top: 20px; 
}

.tobor-section {
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 40px 0;
}

.tobor-left {
    max-width: 50%;
}

.tobor-left h2 {
    font-size: 20px;
    font-weight: 700;
    font-family: Helvetica;
}

.tobor-left > p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 10px;
}

.tobor-right {
    width: 35%;
    text-align: center;
}

.tobor-right img {
    max-width: 100%;
    height: auto;
}
/* RESPONSIVE CODES FOR BUSINESS APPLICATION AREA START  */

@media (max-width: 1024px){
    .tobor-nav-item {
        font-size: 18px;
        transition: background-color 0.3s ease;
        font-weight: 500;
        font-family: Helvetica;
        line-height: 21px;
    }
    .tobor-left h2 {
        font-size: 18px;
    }
    
    .tobor-left p {
        font-size: 18px !important;
    }
}

@media (max-width:560px){
    .tobor-nav-list-mobile{
        display: block;
    }
    .tobor-nav {
        display: none;
    }
    .tobor-nav-mobile{
        display: flex;
        justify-content: space-between;
     
    }
    .tobor-nav-mobile ul.tobor-nav-list-mobile li{
        margin-bottom: 15px;
        display: block;
    }
    .tobor-section {
        flex-direction: column;
    }
    .tobor-left{
        max-width: 100%;
    }
    .tobor-right{
        width: 100%;
    }

}

/* RESPONSIVE CODES FOR BUSINESS APPLICATION AREA END  */

.productInformationWrapper{
    position: relative;
}
.tobor-product-badge img {
    max-width: 90px;
    position: absolute;
    right: 30px;
    top: 30px;
}
.woocommerce-product-gallery__image > a > img {
    display: block;
    max-width: 90% !important;
    height: auto;
    box-shadow: none;
    margin: 0 auto;
}
.woocommerce-product-thumbnail > a > img {
    width: 100px !important;
}

.woocommerce-product-thumbnails {
    margin-right: 40px;
}
.woocommerce-product-gallery__image {
    float: none !important;
    margin-top: 20px;
}
button.single_feature_button {
    display: none;
}

.woocommerce-product-thumbnails .active {
    border: 2px solid #0073aa;
}

ol.flex-control-thumbs {
    display: none !important;
}
.flex-viewport{
    border: none;
}
.flex-direction-nav  {
    display: none;
}

/* PRODUCT INFO SECTION STYLES */
.productInformationWrapper.row.justify-content-between {
    background: #F5F5F7;
    padding: 70px 0px 50px 20px;
    border-radius: 20px;
    margin-top: 50px;
}

#single-product-info-background {
    padding-top: 0px !important;
}
button#add-to-cart- {
    background: #506CCD !important;
    padding: 12px 35px !important;
    font-size: 20px !important;
    box-shadow: none;
    border: 2px solid #506CCD !important;
}
button#add-to-cart-:hover {
    background-color: #475FB3 !important;
}

/* BUSINESS APPLICATION AREA STYLES */
.bussines-application-area{
    background-color: #fff;
    padding: 50px 0;
    font-family: Helvetica, sans-serif;
}
.bussines-application-area h1 {
    font-size: 50px;
    font-weight: 700;
}
.bussines-application-area p {
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    color: #000;
}

/* ENHANCED INTERACTION */
.interaction-section {
    background-color: #fff;
}
.feature-text-paired h3 {
    font-weight: 700;
}
.interaction-section.section-2 h4 {
    font-size: 26px;
    font-weight: 400;
    padding-top: 0px;
}

.feature-text-paired p {
    color: #000;
    line-height: 28px;
    font-size: 20px;
}

/* EXPERIENCE SECTION STYLES  */
.width-container-pro.section-3.table-chart-1{
    background-color: #fff;
}

.experience {
    background-color: #FFF;
    padding: 2rem 0;
}

.experience.section-4 h2 {
    line-height: 50px !important;
}

.experience.section-4 h4 {
    font-size: 26px;
    line-height: 40px;
    font-weight: 400;
    padding: 0;
}

/* GO2 EDU PRODUCT INFO SECTION */

h2.tobor-product-title {
    font-size: 50px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    line-height: 42px;
}

h4.tobor-variation-name {
    font-size: 26px;
    font-weight: 400;
    font-family: Helvetica, sans-serif;
}
p.tobor-variation-description,
.productInformation p{
    font-size: 20px !important;
    font-weight: 300 !important;
    font-family: Helvetica, sans-serif;
}

h3.variation_price{
    font-size: 32px;
    font-weight: 700;
    font-family: Helvetica, sans-serif;
    line-height: 42px;
    margin: 30px 0
}
.affirm-img{
    padding-top:0 !important;
    margin-bottom: 30px;
}
.affirm-img > p {
    font-size: 15px !important;
}

.add-quantity-section {
    display: flex;
    justify-content: start !important;
}
/* QTY FIELDS */

.toborlife-custom-number-input {
    display: inline-flex;
    align-items: center;
    border: 1px solid #506CCD;
    border-radius: 8px;
    overflow: hidden;
    width: 60px; 
    height: 40px;
    position: relative;
}

.toborlife-qty {
    width: 80%; 
    border: none;
    text-align: center;
    font-size: 16px;
    outline: none;
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
    background-color: #fff !important;
    border: none !important;
    color: #000;
    font-size: 20px;
    font-weight: 700;
}

.toborlife-qty::-webkit-inner-spin-button,
.toborlife-qty::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.toborlife-qty-controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%; 
    background-color: #fff;
    height: 100%;
}

.toborlife-qty-up {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('/dev/wp-content/themes/onzo-progression/images/arrow-up.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toborlife-qty-down {
    display: block;
    width: 20px;
    height: 20px;
    background-image: url('/dev/wp-content/themes/onzo-progression/images/arrow-down.png');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.toborlife-qty-up:hover,
.toborlife-qty-down:hover {
    background-color: #e9e9e9;
}


/* For modern browsers */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

@media all and (max-width: 767px){
    .productInformationWrapper.row.justify-content-between {
        padding: 10px !important;
      }
      .woocommerce-product-thumbnail > a > img {
        width: 60px !important;
      }
      .woocommerce-product-thumbnails {
        margin-right: 30px;
      }
      h2.tobor-product-title {
        font-size: 45px;
        margin-top: 25px;
      }
      .productInformation p {
        font-size: 18px !important;
        line-height: 22px;
      }
      h3.variation_price {
        font-size: 30px !important;
      }
      h4.tobor-variation-name {
        font-size: 24px;
      }
      .whats-in-the-box-image-right {
        margin: 15px 15px;
      }
    .tobor-product-badge img {
        max-width: 60px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
    }

}

.table tr.even-row > th, 
.table tr.even-row > td{
    color: #000;
    font-weight: 400;
}
.table tr.odd-row > th,
.table tr.odd-row > td{
    color: #595959 !important;
}

.variation-selector-btn {
    width: 100%; 
}
/* trying code */

.variation-buttons-wrapper {
    
}

.variation-selector-btn {
    padding: 7px 16px;
    border: 1px solid #475FB3;
    background: transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    color: #475FB3;
    font-weight: 500;
    font-size: 16px;
    font-family: Helvetica;

}

.variation-selector-btn.active {
    border-color: #475FB3;
    background: #475FB3;
    color: #fff;
}

.variation-grid {
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

@media  (max-width: 1024px) {
    .variation-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 10px; 
        margin-top: 20px;
    }
}